@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Inter', 'Open Sans', sans-serif;
}

.p {
    font-weight: 500;
    font-size: 1.1rem;
}

.navbar {
    background-color: rgba(251,251,253,0.8);
    border-bottom: 0.1px solid #3b3b3b80;
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    --bs-navbar-padding-y: 0.5rem;
    opacity: 0; 
    transform: translateY(-400px);
    animation: moveIn 2s ease-out 0s forwards;
}

@keyframes moveIn {
    to{opacity: 1; transform: translateY(0px);}
  }

.navbar-brand {
    font-weight: 900;
    transition: 0.5s ease;
}

.navbar-brand:hover {
    transform: scale(1.1);
    transition: 0.3s ease;
}

.nav-name,
.nav-logo {
  transition: opacity 0.3s ease, transform 0.6s ease;
}

.nav-name {
  position: absolute;
}

.navbar-nav {
    align-items: center;
}

.navbar-wrapper {
    padding-left: 3rem;
    padding-right: 3rem;
}


.nav-link {
    font-size: .95rem;
    font-weight: 400;
    transition: .5s ease;
}

.nav-link.active {
    color: rgba(0, 0, 0, 0.4)!important;
    transition: .5s ease;
}

.nav-button {
    padding: 0.5rem;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler+a {
    display: none;
}

.overlay-color {
    position:absolute;
    width: 120%;
    height:100%;
    z-index: 2;
    background-image:linear-gradient(transparent,rgba(228, 228, 227, 0.35))!important;
  }

.overlay{
    position:absolute;
    width: 120%;
    height:100%;
    animation: unBlur 2s ease-in-out 1s forwards;
    z-index: 3;
  }

  @keyframes unBlur {
    from{backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px);}
  }

#heroImage {
    background-image: url("../../assets/img/background.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center 20%;
    height: 105vh;
}

.hero-text {
    height: 100vh;
    z-index: 4;
    position:relative;
    padding-top: 15vh;
}

.hero-text a {
    text-decoration: none;
}

.wave-container {  
    height: 40vh;
    background-color: #f3f8fe;
    position: relative;
  }
  
.wave-container::before {   
    content: "";
    z-index: 5;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: -0.3%;
    left: 0;
    background-size: auto;
    background-repeat: repeat no-repeat;
    background-position: 70vw bottom;
    background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  105' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 77L50 72C100 68 200 58 300 39C400 20 500 -8 600 1C700 11 800 58 900 77C1000 96 1100 87 1150 82L1200 77V106H1150C1100 106 1000 106 900 106C800 106 700 106 600 106C500 106 400 106 300 106C200 106 100 106 50 106H0V77Z' fill='%23ffffff'/></svg>");
  }


.hi {
    padding-top: 7rem;
    margin-bottom: .2rem;
    opacity: 0;
    animation: Up 1s ease-out 1s forwards, fadeIn 1s ease-in-out 1s forwards;
}

.name {
    font-weight: 800;
    line-height: 1em;
    letter-spacing: -0.04em;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: Up 1s ease-out 1.5s forwards, fadeIn 1s ease-in-out 1.5s forwards;
    opacity: 0;
}

@keyframes Up {
    from {transform: translateY(50px);}
}

@keyframes fadeIn {
    to {opacity: 1;}
}

.intro {
    margin-top: 2.2rem;
    opacity: 0;
    animation: Up 1s ease-out 1.7s forwards, fadeIn 1s ease-in-out 1.8s forwards;
}


.button1 {
    display: flex;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    animation: fadeInUp 1s ease-in-out 2.2s forwards, floatAnimation 2s ease-in-out 3.4s 4;
}

.smooth-transition-button {
    display: flex;
    justify-content: center;
    text-wrap: nowrap;
    overflow: hidden;
    text-align: center;
    width: 58px;
    transition: all 0.3s ease;
}

.smooth-transition-button:hover {
    width: 140px;
    transition: all 0.3s ease;
}

.button1-sm {
    display: none;
}

@keyframes fadeInUp {
    0% {opacity: 0;transform: translateY(50px);}
    100% {opacity: 0.9;}
}

@keyframes floatAnimation {
0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
50% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
}
100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
}

#projects {
    background-color: #f9f9fa;
}

.carousel {
    border-radius: 2rem;
    overflow: hidden;
    box-shadow:  20px 20px 60px #d9d9d9;
 }
 
 .carousel-item {
    height: 550px;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
 }

.carousel-item img {
    width: 130%;
    height: 100%;
    object-fit: cover;
    margin-left: -15%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

 .carousel-caption {
    position: absolute;
    right: auto;
    bottom: auto;
    top: 5%;
    left: 7%;
    padding-top: 1.25rem;
    padding-bottom: 0;
    padding-right: 7rem;
    color: #000;
    text-align: left;
}

.carousel-indicators {
    background-color: #e7e7e9cc;
    border: 1px solid #cdcdcd50;
    backdrop-filter: saturate(200%) blur(18px)!important;
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    border-radius: 20rem;
    width: fit-content;
    margin: 1rem auto;
    padding: 0 1rem;
    opacity: 0;
    transition: .8s ease;
}

 #carousel:hover > .carousel-indicators  {
    opacity: 1;
}



.carousel-indicators [data-bs-target] {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: .8rem;
    height: .8rem;
    border-radius: 100%;
    padding: 0;
    margin: 0.5rem 0.5rem;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    opacity: 1;
}

.control-container {
    display: flex;
    bottom: 1.5rem;
    z-index: 3;
}

.trigger-element {
    position: absolute;
    margin-top: 25rem;
}


.element-to-hide {
    display: flex;
    opacity: 0;
    max-height: 0;
    transition: opacity 0.5s, max-height 1s;
}

.control-wrapper {
    display: flex;
    justify-content: center;
    border-radius: 20rem;
    width: fit-content;
    margin-top: 1.8rem;
    background-color: rgba(231, 231, 233, 0.9);
    backdrop-filter: saturate(200%) blur(18px)!important;
    -webkit-backdrop-filter: saturate(200%) blur(18px)!important;
    border: 1px solid #cdcdcd30;
}

.carousel-control-next, .carousel-control-prev {
        background-size: 30%;
        position: relative;
        top: 0;
        bottom: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        padding: .5rem;
        color: #fff;
        text-align: center;
        background: 0 0;
        background-color: rgba(69, 69, 69, 0.5);
        border: 0;
        border-radius: 100%;
        transition: .5s ease-in-out;
        margin: 1rem;
        flex-direction: row;
        backdrop-filter: saturate(200%) blur(18px);
        -webkit-backdrop-filter: saturate(200%) blur(18px);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 60%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.filist {
    padding: .5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgba(231, 231, 233, 0.8);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    border: 1px solid #cdcdcd30;
    border-radius: 4rem;
    width: fit-content;
    top: 5.5rem;
    position: sticky;
    z-index: 2;
    transition: transform 0.3s ease-in-out; 
      
}


.filist.element-to-hide {
    display: block !important;;
}

.filter-button {
    cursor: pointer;
    display: inline-block;
    padding: .8rem 1rem;
    margin: .4rem .2rem;
    font-size: 1rem;
    line-height: 1;
    background-color: rgba(142, 142, 143, 0.3);
    transition: all 0.3s ease-in-out;
    border-radius: 50rem;
    border: none;
}

.filter-button.active {
    background-color: #212529;
    color: #fff;
    box-shadow: inset 0 0 4px #aaaaaa;
}



.filter-button:active {
    background-color: rgba(230, 230, 230, 0.5);
    color: #000;
}


.items {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.3s;
}

.item {
    min-width: 200px;
    opacity: 1;
    padding: 1rem;
    height: initial;
    transform: scale(1);
    transition: min-width .3s, opacity .8s, transform .5s;
}

.item.hide {
    min-width: 0;
    opacity: 0;
    padding: 0rem;
    height: 0;
    transform: scale(0);
    flex: 0;

}

.item:hover {
    transform: scale(1.04);
    transition: 0.5s;
}


.select-box {
    width: 100%;
    height: 280px;
    background-color: #000;
    border-radius: 2rem;
    color:#fff;
    cursor: pointer;
    position: relative;
}

.work-text {
    width: 85%;
    transition: 0.5s;
}

.work-text p {
    font-weight: 600;
}

.work-img {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.inside-img {
    max-height: 150%;
    max-width: 180%;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.inside-img.hide {
    max-height: none;
    max-width: none;
}

.img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 5.8rem 1.5rem 1.5rem 1.5rem;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(73, 73, 74, 0.7);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
}

.item:hover .img-overlay {
    opacity: 1;
}

.img-overlay p {
    user-select: none;
    -moz-user-select: none; 
    -webkit-text-select: none; 
    -webkit-user-select: none; 
    font-size: .95rem;
    line-height: 1.25rem;
    padding-top: .8rem;
    border-top: solid 1px #dcdcdc60;
}

.item:hover .img-overlay p {
    user-select: auto;
    -moz-user-select: auto; 
    -webkit-text-select: auto; 
    -webkit-user-select: auto; 
    display: block;
}


.tag-wrapper {
    background-color: rgba(151, 151, 153, 0.7);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    padding: 6px 12px;
    border-radius: 2rem;
    border: 1px solid #b6b6b630;
    transition: 0.5s;
}

.tag-wrapper p {
    margin-bottom: 0;
    font-weight: 500;
}

.tag-wrapper.hide {
    display: none;
}

.work-button {
    right: 1rem;
}

.work-button button {
    border-radius: 2rem;
    width: 35px;
    height: 35px;
    display: grid;
    text-align: center;
    place-content: center;
    background-color: rgba(231, 231, 233, 0.8);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    border: 1px solid #cdcdcd30;
}

.work-button svg {
    transform: scale(1.5);
}

.work-tag {
    bottom: 0rem;
}

.modal {
    padding: 0;
    margin: 0;
}

.modal-dialog {
    max-width: 95vw;
    margin-top: 4rem;
    transition: all .2s;
}


.modal-content  {
    border-radius: 2rem;
    box-shadow: rgba(73, 73, 74, 0.32) 0px 0px 16px 0px;
}

.modal-header {
    padding: 0;
    border-bottom: 0;
    border-radius: 2rem 2rem 0 0;
    align-items: flex-start;
    z-index: 3;
    height: 65vh;
    background-size: cover;
    background-position: center;
    background-color: #212529;
}

.modal-img-wrapper {
    width: 100%;
    height: 65vh;
    overflow: hidden;
    position: absolute;
    display: flex;
    border-radius: 2rem 2rem 0 0;
}

.modal-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.modal-header .container {
    position: absolute;
    padding: 2rem;
}

.modal-title {
    color: #fff;
    margin-top: 3rem;
    line-height: 2.5rem;
}

.btn-wrapper {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    padding: 1.5rem;
}

.modal .btn-close {
    z-index: 4;
    position: sticky;
    top: 1.5rem;
    transform: scale(0.9);
    opacity: 1;
    padding: 1rem;
    background-color: rgba(231, 231, 233, 0.8);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    border: 1px solid #cdcdcd30;
    border-radius: 100%;
    transition: 0.5s ease;
}

.modal .btn-close:hover {
    transform: scale(1);
    transition: 0.5s;
}

.modal-body {
    padding: 4rem 7rem;
    min-height: 50vh;
    background-color: #fff;
}

.modal-text {
    font-size: 1.15rem;
    color: #808080;
}

h1+.modal-text {
    max-width: 500px;
}

.modal-body .row {
    align-items: center;
}

.modal-body video, .modal-body img {
    border-radius: 2rem;
    padding-left: 0;
    padding-right: 0;
}

.modal-body a.btn {
    display: flex;
    align-items: center;
    width: fit-content;
}

.video-sm {
    display: none;
}

.singletone {
    color: #c47f36;
}

.modal-tool .p {
    color: #808080;
}

.modal-footer {
    justify-content: center;
    border-top: none;
    padding-top: 1rem;
    padding-bottom: 3rem;
    background-color: #fff;
    border-radius: 2rem;
}

.modal-footer .btn {
    padding: 0.7rem 1.4rem;
    background-color: rgba(231, 231, 233, 0.8);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    border: 1px solid #cdcdcd30;
    border-radius: 2rem;
    transition: 0.5s ease;
    display: none;
}


#skills {
    background-color: #101011;
    color: #f3f3f4;
}

.accordion {
    --bs-accordion-color: #fbfbfb;
    --bs-accordion-bg: #ffffff00;
    margin-bottom: 3rem;
}

.accordion-item {
    border-bottom: none;
}

.accordion-body {
    padding-top: 0;
}

#accordionSkills button {
    transform: none;
    color: #fff;
    border-bottom: 1px solid #d0d0d080!important;
}

.accordion-button {
    font-size: calc(1.325rem + 0.9vw);
    font-weight: 500;
    line-height: 1.2;
    padding-top: 2rem;
    padding-bottom: .6rem;
}

.accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23919192'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23919192'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion-button:not(.collapsed) {
    background-color: #ffffff00;
    box-shadow: none;
}

.accordion-button:focus {
    border-color: #ffffff00;
    box-shadow: none;
}

.skills-box {
    width: 100%;
    height: 500px;
    background-color: #000;
    border-radius: 2rem;
    color: #fff;
}

#skills .p {
    color: #919192;
}

.skill-wrapper {
    display: flex;
    align-items: center;
}

.skill-wrapper img {
    height: 35px;
    width: 35px;
    border-radius: 0;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    pointer-events: none;
}

.button-wrapper button {
    padding: .5rem 1rem;
    margin: 0 .3rem;
    border-radius: 2rem;
}

.large-container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1420px;
}

.about-container {
    background-color: #f5f5f6;
    border-radius: 2rem;
    margin: 2.5rem 6rem 6rem 6rem;
}

.about-wrapper {
    padding: 1.5rem 3rem 3rem 3rem;
    overflow: hidden;
}

.about-img-wrap {
    overflow: hidden;
    border-radius: 20px;
}

.about-img {
    border-radius: 20px;
    transition: 1.5s;
    -webkit-user-drag: none;
}

.about-img:hover {
    transform: scale(1.05);
    transition: 1.5s;
}

.about-wrapper .p {
    color: #89898a;
}



footer {
    border-top: solid .5px #808080;
    margin-left: 3rem;
    margin-right: 3rem;
}

.footer-brand {
    font-size: 1.5rem;
    font-weight: 900;
    color: #101011;
}

.footer-text {
    color: #101011;
}

.footer-icon a {
    color: #101011;
}

.footer-icon a:hover {
    color: #444444;
}

.highlight-word {
    color: #fff;
}

.highlight-word-black {
    color: #000;
    transition: .5s;
}

.highlight-word-black:hover {
    background-color: #393939;
    color: #ffffff;
    transition: .5s;
}

.offcanvas-backdrop.show {
    opacity: 0;
}

.offcanvas.offcanvas-top {
    box-shadow: 0 0 20px #35353552;
    border-bottom: 0;
    height: fit-content;
    padding-bottom: 3.5rem;
    background-color: #ffffffe0;
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
}

.offcanvas-body {
    transition: .5s;
}

.offcanvas.showing  .offcanvas-body {
    transform: translateY(2rem);
    opacity: .8;
    transition: .5s;
}

.offcanvas.show:not(.hiding) .offcanvas-body {
    transition: .5s;
}

.offcanvas-body a {
    color: #000;
}

.offcanvas-body p a:hover {
    color: #707070;
}

.offcanvas-header {
    padding: 2rem 2rem 0 2rem;
    justify-content: end;
}

.offcanvas-header .btn-close {
    transform: scale(0.9);
    opacity: 1;
    padding: 1rem;
    background-color: rgba(214, 214, 216, 0.6);
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    border: 1px solid #cdcdcd30;
    border-radius: 100%;
    transition: 0.5s ease;
}

.offcanvas-header .btn-close:hover {
    transform: scale(1);
    transition: 0.5s ease;
}

.btn-close {
    --bs-btn-close-focus-shadow: 0 0 0 0.25rem #ccc;
}

.offcanvas-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 0;
    padding-left: 8rem;
    padding-right: 8rem;
}

.offcanvas-body a {
    transition: .5s;
}

.offcanvas-body a:hover {
    transform: scale(1.1);
    transition: .5s;
}



  .bounce {
    animation: bounce 1s ease;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }
  


.row {
    margin-top: 0;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
}

.grid {
    grid-gap: 1rem;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    margin-left: 1rem;
    margin-right: 1rem;
}

.img-all{
    padding: 1rem 2rem 2rem 2rem;
}



.text-container {
    grid-column: 3/span 8;
}


iframe {
    border-radius: 2rem;
}

.py-6 {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.pt-6 {
    padding-top: 4rem;
}

.pb-6 {
    padding-bottom: 4rem;
}

.pt-7 {
    padding-top: 5rem;
}

.pb-7 {
    padding-bottom: 5rem;
}

.display-0 {
    font-size: 8em;
}

.fs-7 {
    font-size: .9rem;
}

.scroll-element, .scroll-element-alt {
    display: block;
    opacity: 0;
    transition: all .5s ease;
    z-index: 1000;
}

.button-top {
    background-color: rgba(50, 50, 50, 0.3);
    border: 0.5px solid #33333320;
    backdrop-filter: saturate(200%) blur(18px);
    -webkit-backdrop-filter: saturate(200%) blur(18px);
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 0.85rem 1.31rem;
    transition: .5s;
}
.btn, button {
    transition: 0.5s;
}

.btn:hover, button:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.btn-group-lg>.btn, .btn-lg {
    --bs-btn-padding-y: none;
    --bs-btn-padding-x: none;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: none;
}

.btn-circle {
    padding: 0.85rem 1.55rem;
}

.btn-contact {
    padding-left: .8rem;
    padding-right: .8rem;
}

body {
    overflow-x: hidden;
    --sb-track-color: #f3f3f3;
    --sb-thumb-color: #9a9a9a;
    --sb-size: 9px;
  
    scrollbar-color: var(--sb-thumb-color) 
                     var(--sb-track-color);
  }
  
  body::-webkit-scrollbar {
    width: var(--sb-size) 
  }
  
  body::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 12px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 12px;
    
    }

.space-around {
    display: flex;
    justify-content: space-around;
}

.space-between {
    display: flex;
    justify-content: space-between;
}


/* Transition */
.ani-fade-in-up {
    opacity: 0;
    transform: translateY(70px); 
    transition: opacity 0.5s, transform 0.5s;
  }
  
  .fade-in-up {
    opacity: 1;
    transform: translateY(0);
  }
  
  .ani-zoom-in-up {
    opacity: 0;
    transform: scale(.65) translateY(70px);
    transition: opacity 0.5s, transform 0.5s;
  }

  .zoom-in-up {
    opacity: 1;
    transform: scale(1) translateY(0); 
  }

  .ani-flip-up {
    opacity: 0;
    transform: scaleY(0.5); 
    transition: opacity 0.5s, transform 0.5s;
  }

  .flip-up {
    opacity: 1;
    transform: scaleY(1);
  }


/* PRELOADER */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: transform 1s ease, opacity 0.5s ease;
    opacity: 1; 
    flex-direction: column;
}


.preloader.hidden {
    transform: scale(10);
    opacity: 0; 
    pointer-events: none; 
}



.bounce {
    animation: bounce 1.5s infinite;
}

.ball {
    width: 80px;
    height: auto;
    margin: 1rem;
}

.greeting {
    color: #767676;
    transition: opacity .3s ease;
}

.preloader.hidden .greeting {
    opacity: 0;
    transform: scale(0.1);
    transition: 0.3s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-40px);
    }
    60% {
        transform: translateY(-20px);
    }
}



@media (max-width: 1199px) {
    .modal-body {
        padding: 4rem 3rem;
    }
}

@media (max-width: 991px) {
    .item {
        padding: .75rem .5rem;
    }
    #about .d-flex {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .navbar-wrapper {
        padding-left: 1.5rem;
        padding-right: .5rem;
    }
    .nav-button {
        display: none;
    }
    .navbar-toggler+a {
        display: block;
    }
    .navbar-nav {
        align-items: start;
        padding: 1rem 0;
        margin-left: 2rem;
    }
    .nav-item a{
        font-size: 1.1rem;
        font-weight: 500;
    }
    .display-0 {
        font-size: 5em;
    }
    #heroImage {
        background-attachment: initial;
        background-position: center;
    }
    .intro {
        margin-top: 1.5rem;
    }
    .modal .px-5 {
        padding-left: 0!important;
        padding-right: 0!important;
    }
    .modal-body {
        padding: 4rem 3rem;
    }
    .about-container {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .about-wrapper {
        padding: .1rem 1.5rem 2.5rem 1.5rem;
    }
    .modal-body .reverse {
        flex-direction: column-reverse;
    }
    .video-sm {
        display: block;
    }
    .video-lg {
        display: none;
    }
    .space-between {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    #highlight .container {
        padding-left: 0;
        padding-right: 0;
    }
    .carousel {
        border-radius: 0;
        transition: 0.3s;
        box-shadow:  none;
     }
     .carousel-item img {
        margin-left: 0%;
    }
    .display-0 {
        font-size: 5em;
    }
    .text-container {
        grid-column: 2/span 10;
    }
    .modal-dialog {
        margin-top: 6rem;
        margin-left: 0;
        margin-right: 0;
        max-width: none;
    }
    .modal-body {
        padding: 2.5rem 1.5rem;
    }
    .items {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }
    .modal-footer .btn {
        display: inline-block;
    }
    footer {
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .offcanvas-body {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .select-box {
        height: 220px;
    }
    .img-overlay {
        display: none!important;
    }
    .image-wrapper {
        width: 95%;
    }
    .button1-lg {
        display: none;
    }
    .button1-sm {
        display: block;
    }
    .btn-circle {
        padding: 0.85rem 1.2rem;
    }
}

@media (max-width: 495px) {
    .name {
        white-space: initial;
    }
    .hi {
        padding-top: 3rem;
        margin-bottom: .7rem;
    }
}


@media (max-width: 465px) {
    .display-0 {
        font-size: 4.5em;
    }
}

@media (max-width: 498px) {
    .filist {
        top: 4rem;
        font-size: .9rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (max-width: 464px) {
    .filist {
        padding-left: 4rem;
        padding-right: 4rem;
        border-radius: 2rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }
}

@media (max-width: 404px) {
    .filist {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (max-width: 324px) {
    .filist {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 576px) {
    .carousel-p {
        padding-right: 6rem;
    }
    .modal-title {
        padding: 0 1rem;
    }
}

@media (min-width: 576px) {
    .modal-title {
        padding: 0 3rem;
    }
    .modal {
        overflow-x: hidden;
        --sb-track-color: #f3f3f3;
        --sb-thumb-color: #818181;
        --sb-size: 9px;
      
        scrollbar-color: var(--sb-thumb-color) 
                         var(--sb-track-color);
      }
      
      .modal::-webkit-scrollbar {
        width: var(--sb-size) 
      }
      
      .modal::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: 12px;
      }
      
      .modal::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: 12px;
        
        }
}

@media (min-width: 768px) {
    .modal-body iframe {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 992px) {
    .carousel-caption p{
        padding-right: 22rem;
    }
    .modal-title {
        padding: 0 4rem;
    }
}

@media (min-width: 1200px) {
    .carousel-caption p{
        padding-right: 40rem;
    }
    .modal-title {
        padding: 0 8rem;
    }
}


